/*.App {
  
}*/

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.button {
  border-radius: 5px;
  width: 118px;
  height: 35px;
  border: none;
  font-size: 15px;
}

.button:focus {
  outline: 0;
}

.navbar {
  height: 100px;
  max-width: 1500px;
  margin: 0 auto;
}

.login {
  background-color: #3680c1;
  color: #fff;
}

.register {
  background-color: #e1e1e1;
  color: #3680c1;
  margin-left: 30px;
  margin-right: 50px;
}

.feedy-logo-div {
  margin-left: 50px;
  margin-top: -10px;
}

.feedy-logo-img {
  width: 120px;
}

.center-container {
  position: absolute;
  width: 100%;
  top: calc(50% - 100px);
  transform: translateY(-50%);
  margin-top: 100px;
}

.dog-image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu-icon {
  display: none;
  margin-right: 30px;
  cursor: pointer;
  color: #333333;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 300px;
  min-width: 150px;
  height: 100vh;
  z-index: 9999;
  background-color: rgb(245, 245, 245);
  animation: mobile-menu-appearing 0.4s ease;
}

.mobile-menu-leaving-animation {
  animation: mobile-menu-disappearing 0.4s ease;
}

@keyframes mobile-menu-disappearing {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes mobile-menu-appearing {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.title {
  font-weight: 400;
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
}

.subtitle {
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  margin-top: 0px;
}

.form-div {
  position: fixed;
  width: 100%;
  max-width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
  border-radius: 5px;
  animation: form-appearing 0.4s ease;
}

@media only screen and (max-height: 450px) {
  .form-div {
    position: absolute;
  }
}

.form-div-disappearing {
  animation: form-disappearing 0.4s ease;
}

@keyframes form-appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes form-disappearing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-height: 450px) {
  .form-div {
    top: 20px;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 700px) {
  .dog-image {
    width: 50%;
  }
  .title {
    font-size: 15px;
  }
  .subtitle {
    font-size: 15px;
  }
  .login {
    display: none;
  }
  .register {
    display: none;
  }
  .feedy-logo-img {
    width: 100px;
  }
  .mobile-menu-icon {
    display: block;
  }
  .feedy-logo-div {
    margin-top: 0;
  }
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.register-form {
  margin-bottom: 50px;
}

.close-button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background-color: #3680c1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 15px;
}

.input {
  width: 100%;
  max-width: 200px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  padding: 10px;
  font-size: 15px;
}

.input:focus {
  outline: 0;
}

.form-login-button {
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 35px;
  border: none;
  background-color: #3680c1;
  color: #fff;
  font-size: 15px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 6px rgb(177, 177, 177);
}

.form-login-button:focus {
  outline: 0;
}

.form-title {
  color: #3680c1;
  text-align: center;
  margin-top: 75px;
}

.outside-blur>*:not(.form-div) {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  transition: 0.3s ease;
}

.arrow-div {
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  font-size: 18px;
  color: #3680c1;
  padding-bottom: 15px;
  animation: arrow-animation 1s infinite;
}

@keyframes arrow-animation {
  0% {
    padding-bottom: 15px;
  }
  50% {
    padding-bottom: 20px;
  }
  100% {
    padding-bottom: 15px;
  }
}

.landing-container {
  position: relative;
  height: 100vh;
  min-height: 500px;
}

.information-container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 500px;
}

.container-title {
  font-weight: 300;
  text-align: center;
  width: 100%;
  font-size: 23px;
  margin-top: 25px;
  position: absolute;
  color: #333;
}

.info-image {
  width: 100%;
  max-width: 400px;
  display: block;
}

.left-column {
  height: 500px;
  width: 50%;
  float: left;
}

.left-column-i {
  height: 500px;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-column {
  height: 500px;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-column-i {
  height: 500px;
  width: 50%;
  float: right;
}

.info-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info-main-text {
  font-size: 25px;
  margin-left: 70px;
  font-weight: 400;
}

.info-sub-text {
  margin-left: 70px;
  font-weight: 300;
}

@media (max-width: 900px) {
  .left-column {
    width: 100%;
    height: 160px;
    float: none;
  }
  .left-column-i {
    width: 100%;
    height: 500px;
    float: none;
  }
  .right-column {
    width: 100%;
    height: 500px;
    float: none;
  }
  .right-column-i {
    width: 100%;
    height: 300px;
    float: none;
  }
  .information-container {
    height: auto;
  }
  .info-text-container {
    width: 100vw;
    top: unset;
    transform: unset;
  }
  .info-main-text {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 0;
    text-align: center;
  }
  .info-sub-text {
    font-size: 17.6px;
    margin-left: 0;
    text-align: center;
  }
}

.promo-container {
  margin-top: 70px;
  height: 600px;
  width: 100%;
  position: absolute;
}

.fw400 {
  font-weight: 400;
}

.mobile-menu-center-buttons {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  color: #333;
}

.mobile-menu-button {
  border: none;
  background-color: rgb(245, 245, 245);
  width: 100%;
  font-size: 17px;
  color: #333;
}

.mobile-menu-button:focus {
  outline: 0;
}

.promo-address-image {
  max-width: 500px;
  width: 100%;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.promo-text-main {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  margin-top: 30px;
}

.promo-text-second {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: #1466AE;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}