.centered-container {
    width: 100vw;
    height: 400px;
    /*background-color: red;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content-container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100vw;
}

.hello-user {
    text-align: center;
    font-size: 35px;
    color: #3680C1;
}

.user-menu {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
}

.user-menu-option {
    background-color: #F0F0F0;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    position: relative;
}

.signout-btn {
    background-color: #3680c1;
    color: #fff;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}

.icon-div {
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}