.admin-messages-container-title {
    font-weight: 400;
    color: #1466ae;
    margin-top: 40px;
}

.message-container {
    background-color: #d8d8d8;
    margin: 0 auto;
    max-width: 450px;
    min-height: 180px;
    height: max-content;
    border-radius: 5px;
    color: #333;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #1466ae;
}

.message-container-parent>div:first-child {
    margin-top: 40px;
}

.message-read {
    /*border: 2px solid #1466ae;
    box-shadow: none;*/
    box-shadow: 0px 3px 6px #d8d8d8;
}