.events-container-title {
  font-weight: 400;
  color: #1466ae;
  margin-top: 30px;
}

.time-select-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.time-select-left-btn {
  width: 100px;
  height: 35px;
  background-color: #d8d8d8;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 300;
  font-size: 17px;
}

.time-select-middle-btn {
  width: 100px;
  height: 35px;
  background-color: #d8d8d8;
  border: none;
  font-weight: 300;
  font-size: 17px;
}

.time-select-right-btn {
  width: 100px;
  height: 35px;
  background-color: #d8d8d8;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 300;
  font-size: 17px;
}

.time-select-active {
  width: 120px;
  height: 40px;
  background-color: #b1b1b1;
  border-radius: 5px;
  color: #1466ae;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0px 3px 6px 0px rgba(158, 158, 158, 0.75);
}

button:focus {
  outline: none;
}

.event-container-top-child {
  /*background-color: lightblue;*/
  width: 450px;
  height: 50px;
  position: absolute;
  margin-top: 15px;
}

.event-container-bottom-child {
  /*background-color: lightcoral;*/
  width: 450px;
  height: 40px;
  position: absolute;
  margin-top: 125px;
}

.event-edit-btn {
  background-color: green;
  width: 35px;
  height: 35px;
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 2px;
}

.event-delete-btn {
  background-color: #910000;
  width: 35px;
  height: 35px;
  float: right;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  margin-top: 2px;
}

.event-container-user {
  background-color: #d8d8d8;
  margin: 0 auto;
  max-width: 450px;
  height: 180px;
  border-radius: 5px;
  color: #333;
  margin-bottom: 20px;
}

.event-container-user:nth-child(1) {
  margin-top: 30px;
}