.centered-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.content-container {
    top: 45%;
    transform: translateY(-50%);
    position: absolute;
    width: 100vw;
}

@media only screen and (max-height: 600px) {
    .centered-container {
        height: 600px;
    }
}

.hello-user {
    text-align: center;
    font-size: 35px;
    color: #3680C1;
}

.user-menu {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.user-menu-option {
    background-color: #F0F0F0;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    position: relative;
}

@media only screen and (max-width: 720px) {
    .centered-container {
        height: 1000px;
    }
    .content-container {
        top: unset;
        transform: unset;
        position: absolute;
        width: 100vw;
    }
    .user-menu {
        width: 100%;
    }
    .user-menu-option {
        float: none;
        margin-left: auto;
        margin-right: auto !important;
    }
    .user-menu-option:not(:first-child) {
        margin-top: 20px;
    }
    .hello-user {
        margin-top: 60px;
    }
}

.signout-btn {
    background-color: #3680c1;
    color: #fff;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}

.icon-div {
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}