.message-archive-request-container {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
    border-radius: 5px;
    animation: form-appearing 0.7s ease;
}